* {
  margin: 0;
  padding: 0;
  font-family: "Karantina", system-ui;
  font-weight: 400;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  background: black;
}

.section-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 3rem 10rem;
  overflow: hidden;
}

.section-heading {
  font-size: 18vw;
  position: relative;
}

.section-paragraph {
  display: flex;
  font-size: 40px;
  color: white;
  width: 65%;
  justify-self: end;
  text-align: justify;
}

.flex-end {
  align-self: flex-end;
}

.cannabis-img {
  position: absolute;
  left: -25rem;
  top: 2rem;
  height: 35vw;
}

.cannabis-heading {
  color: rgba(148, 150, 104, 1);
}

.cocaine-img {
  position: absolute;
  height: 30vw;
  left: -15rem;
  top: 3rem;
}

.cocaine-heading {
  color: rgb(255, 255, 248);
}

.ecstasy-img {
  position: absolute;
  right: -20vw;
  top: 5rem;
  height: 28vw;
}

.ecstasy-heading {
  color: rgb(194, 73, 46);
}

.lsd-img {
  position: absolute;
  height: 20vw;
  right: -16rem;
  top: 10rem;
}

.lsd-heading {
  color: rgba(148, 132, 92, 1);
}

@media (max-width: 920px) {
  .section-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    padding: 2rem 1rem;
  }

  .section-heading {
    font-size: 100px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .section-paragraph {
    display: flex;
    font-size: 25px;
    color: white;
    width: 60%;
    justify-self: center;
    text-align: justify;
  }

  .lsd-img {
    position: absolute;
    right: -10rem;
    top: 10vh;
    height: 200px;
  }

  .cannabis-img {
    position: absolute;
    left: -15rem;
    top: -5vh;
    height: 300px;
  }

  .ecstasy-img {
    position: absolute;
    right: -10rem;
    top: 5vh;
    height: 250px;
  }

  .cocaine-img {
    position: absolute;
    left: -15rem;
    top: -10vh;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    background: black;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    padding: 2rem 1rem;
  }

  .section-heading {
    font-size: 20vw;
    position: relative;
    display: flex;
    align-self: center;
  }

  .section-paragraph {
    display: flex;
    font-size: 25px;
    color: white;
    width: 90%;
    align-self: center;
    text-align: justify;
  }

  .lsd-img {
    display: none;
    position: absolute;
    right: -10rem;
    top: 10vh;
    height: 200px;
  }

  .cannabis-img {
    display: none;
    position: absolute;
    left: -15rem;
    top: -5vh;
    height: 300px;
  }

  .ecstasy-img {
    display: none;
    position: absolute;
    right: -10rem;
    top: 5vh;
    height: 250px;
  }

  .cocaine-img {
    display: none;
    position: absolute;
    left: -15rem;
    top: -10vh;
    height: 300px;
  }
}
