* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 4vh;
  background: black;
}

.main-content__header {
  font-size: 12vw;
  display: flex;
}

.text-content {
  font-size: 5.5vw;
  color: white;
  width: 70vw;
  text-align: center;
  margin-bottom: 2rem;
}

.button {
  text-decoration: none;
  background: white;
  color: black;
  padding: 2vh 4vw;
  font-size: 3vw;
  border-radius: 15px;
}

.green {
  color: #949668;
}

.brown {
  color: #94845c;
}

@media (max-width: 1050px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 3vh;
    background: black;
  }

  .main-content__header {
    font-size: 20vw;
    display: flex;
  }

  .text-content {
    font-size: 8vw;
    color: white;
    width: 80vw;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button {
    text-decoration: none;
    background: white;
    color: black;
    padding: 2vh 8vw;
    font-size: 5vw;
    border-radius: 15px;
  }
}

@media (max-width: 450px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 6vh;
    background: black;
  }

  .main-content__header {
    font-size: 25vw;
    display: flex;
  }

  .text-content {
    font-size: 10vw;
    color: white;
    width: 70vw;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button {
    text-decoration: none;
    background: white;
    color: black;
    padding: 1.5vh 8vw;
    font-size: 8vw;
    border-radius: 15px;
  }
}
